<div class="posts-wrapper">
  <div class="post">
    <div class="post-body">
      <div class="image-wrap">
        <%= form_for @user, url: {action: "update"}, html: {multipart: true } do |f| %>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group text-center">
                <h4> Change your profile image:</h4>
                <div class="img-circle">
                  <%= profile_avatar_select(@user)%>
                </div>
                <%= f.file_field :avatar, onChange:'loadFile(event)'%>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group text-center">
                <h4> Update your bio:</h4>
                <%= f.text_area :bio, label: false, rows: 4 ,style:"width:90%";%>
              </div>
            </div>
          </div>
          <div class="form-group text-center">
            <%= f.submit "Update Profile", class: 'btn btn-success' %>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>