<div class="row profile-header" style="background: rgba(158,158,158,0.06);">
  <div class="col-md-6">
    <div class="img-circle">
      <%= profile_avatar_select(@user)%>
    </div>
  </div>
  <div class="col-md-6">
    <div class="user-name-and-follow">
      <h3 class="profile-user-name">
        <%= @user.user_name%>
      </h3>
      <span>
        <% if @user == current_user %>
          <%= link_to 'Edit Profile',edit_profile_path(@user.user_name),class: 'btn edit-button'%>
        <%else%>
          <% if !current_user.following(@user.id).empty?%>
            <%= link_to 'Following', unfollow_user_path, remote: true,class: 'btn unfollow-button',id: 'unfollow-button',method: :post%>
          <%else%>
            <%= link_to 'Follow', follow_user_path, remote: true,class: 'btn follow-button',id: 'follow-button',method: :post%>
          <%end%>
        <%end%>
      </span>
    </div>
    <p class="profile-bio">
      <%= @user.bio%>
    </p>
    <div class="row user-statistics">
      <p class="col-md-4">
        <%= pluralize @user.posts.count, 'post'%>
      </p>
      <p class="col-md-4">
        <%= pluralize @user.followers.count, 'follower'%>
      </p>
      <p class="col-md-4">
        <%= pluralize @user.following.count, 'following'%>
      </p>
    </div>
  </div>
</div>
<div class="posts-wrapper">
  <% @posts.each do |post|%>
    <%= render 'posts/post', post: post%>
  <%end%>
</div>