<div id="comment">
<div class="user-name">
<%= link_to comment.user.user_name,
profile_path(comment.user.user_name) %>
</div>
<div class="comment-content">
<%= comment.content %>
</div>
<% if comment.user == current_user %>
<%= link_to post_comment_path(post, comment), method: :delete,
data: { confirm: "Are you sure?" }, remote: true do
 %>
<span class="glyphicon glyphicon-remove delete-comment"></span>
<%end%>
<%end%>
</div>