<div class="container ubuntu-font">
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-6 col-md-offset-1" style="font-size: x-large;color: rgba(249, 255, 255, 1);">
      <div class='row'>
  <label style="font-size: 28px;color: rgba(249, 255, 255, 1);vertical-align: bottom;">The Photon</label>
      </div>
    </div>

    
  </div>
    <div class="col-md-7">
      <br>
      <br>
      <br>
      <br>
      <br>
    <div class="col-md-8 col-md-offset-1 content" style="background-color:rgba(4, 4, 4, 0.3); padding-bottom: 10px;">
      An Inspiration you can have to excel over others
      <br>
      <br>
      <div style="font-size: 15px;color: rgba(249, 255, 255, 1)">
       An Inspirational Site to unleash the hidden 
       power inside you.Take your daily dose of inspiration
       as inspiration does not last long.Spread Positivity.
      </div>
    </div>
    </div>
    <div class="col-md-4">
      <div class="panel">
        <div class="panel-heading">
          Need login details?</div>
   <% if resource.errors.any? %>
   <div class="alert alert-danger fade in">
   <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
       
    <div id="error_explanation">
       <%= resource.errors.full_messages.join() %>  
    </div>
      </div>
  <% end %>
        <br>
        <div class="panel-body">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
         

            <div class="form-group">
              <label>Email</label>
              <%= f.email_field :email, autofocus: true,:class => 'form-control text' %>
            </div>
            <div>
              <div>
                <%= f.submit "Send password",:class=>"btn btn-login btn-sm" %><br><br>
                <%= render "devise/shared/links" %>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<% end %>
