<div class="container ubuntu-font">
  <br>
  <br>
  <br>
  <div class="row">
    <div class="row">
      <div class="col-md-6 col-md-offset-1" style="font-size: x-large;color: rgba(249, 255, 255, 1);">
        <div class='row'>
          <label style="font-size: 28px;color: rgba(249, 255, 255, 1);vertical-align: bottom;">The Photon</label>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <br>
      <br>
      <br>
      <br>
      <br>

      <div class="col-md-8 col-md-offset-1 content" style="background-color:rgba(4, 4, 4, 0.3); padding-bottom: 10px;">
        An Inspiration you can have to excel over others
      <br>
        <br>
        <div style="font-size: 15px;color: rgba(249, 255, 255, 1)">
          An Inspirational Site to unleash the hidden 
       power inside you.Take your daily dose of inspiration
       as inspiration does not last long.Spread Positivity.
      </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel">
        <div class="panel-heading">
          Login</div>
        <%= devise_error_messages! %>

        <% flash.each do |key, value| %>
          <div class="alert alert-danger"><%= value %>
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          </div>
        <% end %>
        <br>
        <div class="panel-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <label>Email</label>
              <%= f.email_field :email, autofocus: true,:class => 'form-control text' %>
            </div>
            <div class="form-group">
              <label>Password</label>
              <%= f.password_field :password, autocomplete: "off",:class=>"form-control text" %>
            </div>
            <% if devise_mapping.rememberable? -%>
              <div class="form-group">
                <div class="">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"/>
                      Remember me
                </label>
                  </div>
                </div>
              </div>
            <% end %>
            <div class="form-group last">
              <div class="col-sm-offset-0 col-sm-9">
                <%= f.submit "Sign in",:class=>"btn btn-login btn-sm" %>&nbsp;&nbsp;
                <%= render "devise/shared/links" %>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<% end %>
<script>
  $(document).ready(function(){
             $('#error_explanation').css("display", "none");
          });
</script>