<div class="posts-wrapper">
  <div class="post">
    <div class="post-body">
      <div class="image-wrap">
        <%= form_image_select(@post) %>
        <%= simple_form_for @post, html: {multipart: true } do |f| %>
          <div class="row">
            <div class="col-md-12 text-center">
            <%if  f.error_notification%>
              <%= f.error_notification %>
              <%end%>
            </div>
          </div>
          <div class="container-fluid">
            <div class="form-group text-center">
              <h4> Upload an image (this is required):</h4>
              <%= f.input :image, label: false, input_html: {onChange: 'loadFile(event)' } %>
            </div>
            <div class="form-group text-center">
              <%= f.input :caption ,label: false,placeholder:'Add your caption',:input_html => { :class => 'form-control' }%>
            </div>
            <div class="form-group text-center">
              <%= f.button :submit, class: 'btn-success btn-block' %>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
<!-- <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Example block-level help text here.</p>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form> -->