<!-- <div class="text-center">
<%= image_tag @post.image.url(:medium) %>
</div> -->
<%= render 'form'%>
<div class="text-center">
<%= link_to "Delete Post", post_path(@post), method: :delete,
data: { confirm: "Are you sure you want to delete this post?" }%> |
<%= link_to "cancel", posts_path%>
</div>
