$("#like_<%= @post.id %>").removeClass('glyphicon-heart-empty').addClass('glyphicon-heart');
$("#like_<%= @post.id %>").prop("href", "/posts/<%= @post.id %>/unlike");
$("#likes_<%= @post.id %>").html("<%= j (render partial:'posts/likes', locals: { post: @post} ) %>");
