<%if notice %>
       <p class="alert alert-success alert-dismissable" style="text-align: center;"><%= notice %>
       <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
       </p>
       <%end%>
        <%if alert%>
       <p class="alert alert-danger fade-in" style="text-align: center;background: rgba(255,0,0,0.29);"><%= alert %>
         <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
       </p>
       <%end%>
       <br> 
<%= render 'form'%>
