<%= render 'post', post: @post %>

<% if @post.user.id == current_user.id %>
<div class="text-center">
<%= link_to "Cancel", posts_path(@post) %> |
<%= link_to "Edit Post", edit_post_path(@post) %>
</div>
<%else%>
<div class="text-center">
<%= link_to "Cancel", posts_path(@post) %>
</div>
<%end%>
