$("#like_<%= @post.id %>").removeClass('glyphicon-heart').addClass('glyphicon-heart-empty');
$("#like_<%= @post.id %>").prop("href", "/posts/<%= @post.id %>/like");
$("#likes_<%= @post.id %>").html("<%= j (render partial:'posts/likes', locals: { post: @post} ) %>");
