/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";




body {  
  background-color: #fafafa;
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.navbar-brand {
  a {
    color: #125688;
  }
}

.navbar-default {
  background-color: #fff;
  height: 54px;
  .navbar-nav li a {
    color: #125688;
  }
}

.navbar-container {
  width: 640px;
  margin: 0 auto;
}

.posts-wrapper {
  padding-top: 40px;
  margin: 0 auto;
  max-width: 642px;
  width: 100%;
}

.post {
background-color: #fff;
border-color: #edeeee;
border-style: solid;
border-radius: 3px;
border-width: 1px;
margin-bottom: 60px;
.post-head {
flex-direction: row;
height: 64px;
padding-left: 24px;
padding-right: 24px;
padding-top: 24px;
color: #125688;
font-size: 15px;
line-height: 18px;
.user-name, .time-ago {
display: inline;
}
.user-name {
font-weight: 500;
}
.time-ago {
color: #A5A7AA;
float: right;
}
}
.image {
border-bottom: 1px solid #eeefef;
border-top: 1px solid #eeefef;
}
}

.post-bottom {
.user-name, .comment-content {
display: inline;
}
.caption {
margin-bottom: 7px;
}
.user-name {
font-weight: 500;
margin-right: 0.3em;
color: #125688;
font-size: 15px;
}
.user-name, .caption-content {
display: inline;
}
#comment {
margin-top: 7px;
.user-name {
font-weight: 500;
margin-right: 0.3em;
}
.delete-comment {
float: right;
color: #515151;
}
}
margin-bottom: 7px;
padding-top: 24px;
padding-left: 24px;
padding-right: 24px;
padding-bottom: 10px;
font-size: 15px;
line-height: 18px;
}

.comment_content {
font-size: 15px;
line-height: 18px;
border: medium none;
width: 100%;
color: #4B4F54;
}
.comment-like-form {
padding-top: 24px;
margin-top: 13px;
margin-left: 24px;
margin-right: 24px;
min-height: 68px;
align-items: center;
border-top: 1px solid #EEEFEF;
flex-direction: row;
justify-content: center;
}

.form-wrapper {
width: 100%;
margin: 20px auto;
background-color: #fff;
padding: 40px;
border: 1px solid #eeefef;
border-radius: 3px;
}
.edit-links {
margin-top: 20px;
margin-bottom: 40px;
}



.navbar {
margin-bottom: 0px;
}
.alert {
margin-bottom: 0px;
}



html {
height: 100%;
}
.registration-bg {
padding-top: 4em;
height: 100%;
background-image: image-url('regbackg.jpg');
-moz-background-size: cover;
-webkit-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.log-in{
margin-left: auto;
margin-right: auto;
text-align:center;
border: none;
}
.panel {
border-radius: 8px;
/*padding-left: 267px;
padding-right: 677px;*/
}
.panel-heading{
h1 {
text-align: center;
}
}
.navbar {
margin-bottom: 0px;
}
.alert {
margin-bottom: 0px;
}
.login-bg {
padding-top: 4em;
height: 100%;
background-image: image-url('login.jpg');
-moz-background-size: cover;
-webkit-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

#image-preview {
margin: 0px auto;
}
#post_image {
padding: 1em;
margin: 0px auto;
}

#paginator {
color: #4090DB;
height: 120px;
width: 120px;
margin: 60px auto 40px;
position: relative;
display: table;
border: 2px solid #4090DB;
border-radius: 50%;
:hover {
border: 1px solid #2D6DA8;
border-radius: 50%;
}
}
#load_more {
display: table-cell;
font-size: 12px;
padding: 0px 9px;
vertical-align: middle;
text-decoration: none;
a :hover {
color: #2D6DA8;
}
}

.comments {
.paginator {
margin: 0.5em;
.more-comments {
color: #A5A7AA;
}
}
}


#user_avatar {
margin: 20px auto;
}


.profile-header {
padding: 0px ;
}
.profile-image {
margin: 20px auto;
height: 152px;
width: 152px;
}
.user-name-and-follow {
display: inline;
}
.profile-user-name {
display: inline;
}
.edit-button {
border-color: #818488;
color: #818488;
margin-left: 20px;
}
.profile-bio {
margin-top: 20px;
}

#user_bio {
border: 1px solid gray;
}
#user_avatar {
padding: 1em;
margin: 0px auto;
}
.likes {
margin-top: 20px;
margin-bottom: 7px;
}

.like {
text-decoration: none;
color: red;
}
.like-button a:hover, a:focus {
text-decoration: none;
color: red;
}

.notification-dropdown {
margin-top: 10px;
button {
border: none;
}
}
.notification-index-list {
margin-top: 5em;
list-style: none;
li {
margin-top: 1em;
background-color: white;
padding: 1em;
}
}

.follow-button {
text-transform: uppercase;
border-color: #4090db;
color: #4090db;
margin-left: 20px;
&:visited, &:focus, &:hover {
border-color: #2D6396;
color: #2D6396;
}
}
.unfollow-button {
text-transform: uppercase;
border-color: #66bd2b;
background-color: #66bd2b;
color: white;
margin-left: 20px;
&:visited, &:focus, &:hover {
border-color: #47821F;
background-color: #47821F;
color: white;
}
}

.error{
  color: red;
}
.error_notification{
  color: red;
}


///

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker3
 *= require classic
 *= require classic.date
 *= require bootstrap-tokenfield/dist/css/bootstrap-tokenfield.css
 *= require seiyria-bootstrap-slider/dist/css/bootstrap-slider.css
 */

.xaxis {
    stroke-width: 0.4px;
    stroke: #000;
}
.xaxis path {
    fill: none;
    stroke: #000000;
}
.month {
  font-size: 11px;
  font-family: Ubuntu;
}
.description {
  font-size: 13px;
  font-family: Open Sans; 
}
.object.label {
  font-size: 13px;
  font-weight: normal;
  font-family: Open Sans;
  fill: #1A3D6D;
}
.today_date {
  font-size: 14px;
  fill: #1A3D6D;
}
.edit_object {
  font-size: 12px;
  fill: #1A3D6D;
  cursor: pointer;
}
.task {
  fill: #FFFFFF;
}

.big {
  
  font-size: 24px;
  padding-top: 11px;
}

.huge {
  font-size: 45px;
}

.medium_size {
  font-size: 22.5px;
  font-weight: 500;
}

.client-name {
  font-size: 32px;
  padding-top: 3px;
}

.data-row {
  background-color: #DCDCDC; 
  font-family: Ubuntu; 
  font-weight: 100;
  padding-top: 14px; 
  padding-bottom: 14px; 
  text-align: center
}

.red-colour-text {
  color: red;
}

.orange-colour-text {
  color: orange;
}

.green-colour-text {
  color: green;
}

.grey-colour-text {
  color: #646464;
}

.center-text {
  text-align: center;
}
#obj_start_date,#obj_end_date,#start_date,#end_date {
  cursor: default;
  background-color: white;
}

.noMarginPadding {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-top: 4px;
}

.noTopPadding {
  padding-top: 0px !important;
}

.memberInfo {
  padding-right: 20px;
}

.biggerFont {
  font-size: 22px;
}

.fullReactApp {
  font-family: Ubuntu;
  font-weight: 100;
  font-size: 18px;
}

.memberName {
  font-size: 31px;
}

rect.member-container.hightlight-member
{
  fill: #f0f8da;
}

rect.member-container.member-highlighted {
  fill: #f0f8da;
  stroke: #a1ca46;
  stroke-width: 3px;
}

.member_notes {
  font-weight: bold;
}

.member_notes_label {
  font-weight: bold;
}

.member_date {
  font-weight: bold;
}

.engagement_nav_links a {
  color:#DCDCDC;
}
.engagement_nav_links {
  padding-top: 10px;
}

.create-client {
  font-size: 18px;
}

.footer {
  height:35px;
  background: #DCDCDC; 
  float: bottom;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 14px;
  color: #878787;
}

.ubuntu-font {
  font-family: Ubuntu;

}

.footer a {
  color:#DCDCDC;
}

.engagement_name {
  padding-left: 4%; 
  background-color: #545354; 
  height: 59px; 
  font-family: Ubuntu;
  font-weight: 100;
  color: #DCDCDC;
}

.engagement_info{
  padding-left: 2%; 
  background-color: #DCDCDC; 
  font-family: Ubuntu; 
  font-weight: 100;
  padding-top: 14px; 
  padding-bottom: 14px;
}

.app_header {
  background-color: #293139; 
  padding-top: 5px; 
  padding-bottom: 3px;
  padding-right: 25px;
}

.goals_row {
  font-family: Open Sans; 
  font-weight: 100;
  padding-top: 14px; 
  padding-bottom: 14px; 
  font-size: 22px;
  text-align: center;
}

.labels_div {
  font-family: Open Sans;
  padding-left: 60px;
}

.big_lable {
  font-size: 20px;
}

.tt-input,
.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.tt-input {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu {
    width: 100%;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}


.reactable-page-button {
  margin-left: 5px;
  margin-right: 2px;
  margin-bottom: 6px;
  padding: 3px;
  width: 30px;
  float: left;
  cursor: pointer;
  color: #000;
  border: 1px solid #AAA;
  background-color: #EEE;
  text-align: center;
  border-radius: 5px;
}

.reactable-page-button:hover {
  text-decoration: none;
  color: #333;
  background-color: #DDD;
}

.reactable-current-page {
  background-color: #DDD;
  cursor: default;
}

#table th {
  cursor: pointer;
}

#demo-table th.reactable-header-sort-desc, #demo-table th.reactable-header-sort-asc {
  background-color: #474747;
}

#table th.reactable-header-sort-desc:after {
  content: '\25B2';
  font-size: 10px;


 }

#table th.reactable-header-sort-asc:after {
  content: '\25BC';
  font-size: 10px;
 
}



tr.reactable-filterer {
  width: 100%;
}

tr.reactable-filterer td {
  width: 100%;
}

.reactable-filter-input {
  width: 95%;
  margin-left: 10px;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-right: 20px;
  padding: 5px;
}

.slider.slider-horizontal {
  width: 70% !important;
}

.reporting-container {
  padding-left: 25px;
  padding-right: 25px;
}

.region {
  font-size: 23px;
}


.slider .tooltip{

  white-space: nowrap;
    max-width: none;
    font-size: 18px;
}

#table.table > thead > tr > th,
#table.table > tbody > tr > td {
  padding: 6px;
}

.hidetextbox{

  width:706px;
  height:200px;
  resize:none;
  display: none;

}

.showtextbox{

  width:706px;
  height:200px;
  resize:none;
  display: block;
}

.col-md-auto{
  padding: 0 15px 0 15px;
    float:left;
  }

.col-md-auto:first-child:nth-last-child(1) {
    width: 100%;
}

.col-md-auto:first-child:nth-last-child(2),
.col-md-auto:first-child:nth-last-child(2) ~ div {
    width: 50%;
}


.col-md-auto:first-child:nth-last-child(3),
.col-md-auto:first-child:nth-last-child(3) ~ .col-md-auto {
    width: 33.3333%;
}

.col-md-auto:first-child:nth-last-child(4),
.col-md-auto:first-child:nth-last-child(4) ~ .col-md-auto {
    width: 25%;
}

.col-md-auto:first-child:nth-last-child(5),
.col-md-auto:first-child:nth-last-child(5) ~ .col-md-auto {
    width: 20%;
}

.col-md-auto:first-child:nth-last-child(6),
.col-md-auto:first-child:nth-last-child(6) ~ .col-md-auto {
    width: 16.6666%;
}

.col-md-auto:first-child:nth-last-child(7),
.col-md-auto:first-child:nth-last-child(7) ~ .col-md-auto {
    width: 14.2857%;
}

.link {
  fill: none;
  stroke: #a1ca46;
  stroke-width: 3px;
}

.circle_task {
  
}

.node_action_background {
  fill: #7F7F7F;
  font-size:22px;
}

.node_action_background.hightlight-member_circle
{
  fill: #878787;
  font-size:22px;

}

body.home { 
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  color: #c0c0c0;
}

.panel-default {
opacity: 0.9;
margin-top:30px;
}
.form-group.last { margin-bottom:0px; }

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  font-size: xx-large;
  color: #777777
}

.btn-login {
  color: #fff;
  background-color: #4d92df;
  border-color: #4d92df;
  font-size: 14px;
}


.text{
  color: #868686;
}

.content{
  font-size: xx-large;
  color: rgba(249, 255, 255, 1);
  padding-left: 30px;
}

.opportunities{
  float:left;
  padding-right: 2px;
  font-size: 31px;
  padding-top: 18px;
}

.opportunities-text{
  float:left;
  width: 82%;
}

.opportunities-achieved-text{
  float:right;
  width: 87%;
  font-size: 22px;
}


.node_action_background.member-highlighted_circle {
  fill: #a1ca46;
  font-size:22px;

}

.tooltip{
    position:absolute;
    z-index:1020;
    display:block;
    visibility:visible;
    padding:5px;
    font-size:11px;
    opacity:0;
    filter:alpha(opacity=0)
}
.tooltip.in{
    opacity:.8;
    filter:alpha(opacity=80)
}
.tooltip.top{
    margin-top:-2px
}
.tooltip.right{
    margin-left:2px
}
.tooltip.bottom{
    margin-top:2px
}
.tooltip.left{
    margin-left:-2px
}
.tooltip.top .tooltip-arrow{
    bottom:0;
    left:50%;
    margin-left:-5px;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-top:5px solid #000
}
.tooltip.left .tooltip-arrow{
    top:50%;
    right:0;
    margin-top:-5px;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-left:5px solid #000
}
.tooltip.bottom .tooltip-arrow{
    top:0;
    left:50%;
    margin-left:-5px;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-bottom:5px solid #000
}
.tooltip.right .tooltip-arrow{
    top:50%;
    left:0;
    margin-top:-5px;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-right:5px solid #000
}
.tooltip-inner{
    max-width:200px;
    padding:3px 8px;
    color:#fff;
    text-align:center;
    text-decoration:none;
    background-color:#000;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px
}
.tooltip-arrow{
    position:absolute;
    width:0;
    height:0
}
.popover{
    max-width: 100%; 
}


.color{
  color: #a1ca46 !important;
}

div#react {
  border-left-style: solid;
  border-left-color: #EEEEEE;
  border-left-width: 1px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.verticalLine {
    background-color: #eeeeee;
    border-top: 1px solid /*#eeeeee*/;
    height: 111%;
    left: 2%;
    position: absolute;
    transform: transitionX(-50%);
    top: 0;
    width: 1px;
}

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #FFFFFF;
  text-align: center;
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
}

.input-group{

  margin-left: -15px;
}
.btn.btn-success.btn-top-margin {
  margin-top: 10px;
}
.circle_only_milestone {
  stroke-width: 1;
  stroke-linecap: round; 
}

.circle_all_tasks_and_milestone {
  stroke-width: 1;
  stroke-linecap: round; 
}

.metric_orange::after {
  color: #d8b70e;
  content: '\f06a';
  font-family: 'FontAwesome';
  font-size: 24px;
  vertical-align: top;
  padding-left: 5px;
}

.metric_red::after {
  color: #ff0000;
  content: '\f06a';
  font-family: 'FontAwesome';
  font-size: 24px;
  vertical-align: top;
  padding-left: 5px;
}

.small_metric_symbol::after {
  font-size: 16px;
}

.add_product {
  color: #8E8E8E;
  font-size: 28px;
}

.metric_value_text {
  font-size: 28px;
  font-weight: 300;
  color: #A0CC3A;
}

.metric_value_number {
  font-size: 48px;
  font-weight: 300;
  color: #A0CC3A;
}

.metric_value_small_number {
  font-size: 24px;
  font-weight: 300;
  color: #A0CC3A;
}

.metric_label {
  font-size: 14px;
  color: #666666;
  font-weight: bold;
}

.metrics_divider {
  border-right-style: solid;
  border-right-color: #929292;
  border-right-width: 1px;
}

#health_metrics_section {
  border-bottom-style: solid;
  border-bottom-color: #929292;
  border-bottom-width: 1px;
  padding-bottom: 9px;
  margin-left: 15px;
  margin-right: 15px;
}

#product_checkboxes > div >label,
#product_checkboxes > div >input 
{
  font-family: Open Sans;
  color: #666666;
  font-size: 16px; 
  font-weight: 700;
}

@media (min-width: 768px) {
  .customer_goals_block {
   text-align: center;
   width: 19.7%;
   float: left;
   padding-left: 15px;
   padding-right: 15px;

  }
}

@media (max-width: 768px) {
  .customer_goals_block {
    text-align: center;
    width: 100% ;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }

}


.entitylabel {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #5bc0de;
  font-size: 17px;
  color: white;
  margin-top: 18px;
}

#parent_selection_div {
  text-align:center;
  visibility: hidden;
  margin-right: 40%;
  font-family: Open Sans;
}
.newlinefour:nth-child(4n):after {
    content: '\a';
    white-space: pre;
}

.newlinethree:nth-child(3n):after {
    content: '\a';
    white-space: pre;
}

