<nav class="navbar navbar-default">
<div class="navbar-container">
<div class="navbar-brand"><%= link_to "Photon", root_path%></div>
<div class="navbar-header"><br><br><br><br><br>
<!-- <button type="button" class="navbar-toggle collapsed">{"data-target" => "#bs-</button>
navbar-collapse-1", "data-toggle" => "collapse", type: "button"} -->
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1"></button>
<span class="sr-only">Toggle Navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>


<div id="bs-navbar-collapse-1" class="collapse navbar-collapse"> </div>
</div>
<!--   <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "sample app", '#', id: "logo" %> -->

        <nav>
          <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
          <li>
          <%= render 'notifications/notificiation_dropdown'%></li>
          <li><%= link_to "Browse Posts", browse_posts_path %></li>

 

          <li><%= link_to "New Post", new_post_path %></li>
          <li><%= link_to "Logout", destroy_user_session_path,:method => :delete %>
          <%else%>
            <li><%= link_to "Login",new_user_session_path %></li>
            <li><%= link_to "Register",new_user_registration_path %></li>
            <%end%>
          </ul>
        </nav>