<!DOCTYPE html>
<html>
  <head>
    <title>Photon</title>
 
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
<%= render 'layouts/navbar'%>

     
      
 <div class="container">
<% flash.each do |name, msg| %>
<% content_tag :div, msg, class: [:alert, alert_for(name)]%>
<%end%>
</div>  
<!--         <%if notice %>
       <p class="alert alert-success alert-dismissable" style="text-align: center;"><%= notice %>
       <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
       </p>
       <%end%>
        <%if alert%>
       <p class="alert alert-danger fade-in" style="text-align: center;background: rgba(255,0,0,0.29);"><%= alert %>
         <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
       </p>
       <%end%>
       <br> -->

    <%= yield %>
  </body>
</html>
