<!DOCTYPE html>
<html lang='en'>
<head>
   <!--<title>Alpha</title>-->
  <% if content_for?(:head)%>
  <%=content_for(:head)%>
  <%else%>
  <title>ThePhoton</title>
  <%end%>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="home" style='background-image: url("<%=image_path("login1.jpg")%>");'>

<%= yield %>

<br><br>
</body>
</html>

